<section id="download">
  <h1>Download</h1>
  <p>OpenWAX(Open Web Accessibility eXtension)는 웹 페이지의 접근성 진단을 쉽게 할 수 있도록 제작된 도구입니다.</p>
  <p>사용하시는 브라우저에 맞는 OpenWAX를 설치 후 진단을 원하는 웹 페이지에 접속 후 OpenWAX를 실행하세요!</p>
  <ul>
    <li><a href="https://chrome.google.com/webstore/detail/openwax/bfahpbmaknaeohgdklfbobogpdngngoe?hl=ko" target="_blank">구글크롬용 OpenWAX</a></li>
    <li><a href="javascript:(function(d){__a=d.createElement('script');__a.charset='UTF-8';__a.src='http://openwax.miya.pe.kr/j/bookmarklet.js?t=' + Math.random();d.body.appendChild(__a);})(document);">OpenWAX
      bookmarklet</a> - 링크 우클릭 후 북마크로 추가하거나 드래그하여 북마크바에 놓으면 사용할 수 있습니다. (IE용)</li>
  </ul>
</section>
