<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <title><%= title ? title + ' | ' : '' %>OpenWAX</title>
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="stylesheet" href="c/s.css?2" />
</head>
<body>

<div id="wrap">
  <header role="banner" id="top">
    <h1><a href="/">OpenWAX <span class="version">v1.8</span></a></h1>
    <p><%= __("OpenWAX is a tool that can help diagnose and fix the accessibility problem") %></p>
    <div class="img"><img alt="screenshot of OpenWAX" src="i/app.png" /></div>
  </header>

  <nav role="navigation">
    <ul>
      <li class="download"><a href="/#download"><%= __('Download') %></a></li>
      <li class="guide"><a href="/#guide"><%= __('Guide') %></a></li>
      <li class="comments"><a href="#comments"><%= __('Comments') %></a></li>
      <li class="fb">
        <div class="fb-like" data-href="http://openwax.miya.pe.kr" data-send="false" data-layout="button_count"
          data-width="150" data-show-faces="false" data-colorscheme="dark"></div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
      </li>
    </ul>
  </nav>

  <form role="search" action="/search">
    <fieldset>
      <legend><%= __('Search WAX Score') %></legend>
      <input type="search" name="q" title="<%= __('Site URL') %>" placeholder="<%= __('Search WAX Scores with URL') %>" />
      <button type="submit"><%= __('Search') %></button>
    </fieldset>
  </form>

  <div id="body" role="main">
    <%- body %>

    <section id="comments">
      <h1><%= __('Comments') %></h1>
      <div id="affogato"></div>
    </section>
  </div>

  <footer role="contentinfo">
    <p>&copy; 2013 by <a href="http://miya.pe.kr">mctenshi</a>, some rights reserved.</p>
  </footer>
</div>

<a href="#top" id="tothetop">△ Top</a>
<a href="https://github.com/mctenshi/OpenWAX" id="github_fork"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> 
<script>
$(function () {
  var fixNav = false;
  $(window).on('scroll', function (e) {
    var y = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement ||
          document.body.parentNode || document.body).scrollTop;
    if (y > 260 && fixNav === false) {
      $('body').addClass('fix_nav');
      fixNav = true;
    } else if (y < 260 && fixNav === true) {
      $('body').removeClass('fix_nav');
      fixNav = false;
    }
  });
});
</script>

<script src="//comments.skplanetx.com/script/plugin.js"></script> 
<script type="text/javascript"> 
SKP.commentsPlugin({ 
  op_app_key: 'c979bd4b-d527-366d-b780-1c5ac37479d7' ,
  target_id: 'affogato', 
  page_id: 'openwax',
  is_responsive: true
}); 
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37817939-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
